@model TheVaqeel.Website.ViewModel.HomeViewModel
@{
    Layout = null;
    var userName = User.Identity.Name;
    var isvalid = Model.LawyerDetail.IsValid;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/Admincss")
    @Scripts.Render("~/bundles/AdminScripts")
    @RenderSection("scripts", required: false)
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    @Html.ActionLink("GO TO WEBSITE", "Index", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/img/team/@Model.LawyerDetail.Image" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">@userName</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Lawyer")" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("AppointmentList","Lawyer")" class="nav-link">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Appointments
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>
                                    Account Settings
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ChangeLawyerPassword","Manage")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Change Password</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    @if (isvalid == 1)
                                    {
                                        <a href="@Url.Action("Edit","Lawyer",new {id = @Model.LawyerDetail.LawyerId})" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                Edit Profile
                                            </p>
                                        </a>
                                    }
                                    else if (isvalid == 0)
                                    {
                                        <a href="@Url.Action("Create","Lawyer")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                Profile
                                            </p>
                                        </a>
                                    }
                                </li>
                            </ul>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.main-siderbar-container -->
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright <a href="@Url.Action("Index","Home")">The Vaqeel</a>.</strong>
            Control Panel For Adminstrator
            <div class="float-right d-none d-sm-inline-block">
                All Rights Reserved
            </div>
        </footer>

        <!-- "~/bundles/AdminScripts"ontrol Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>


</body>
</html>