@model IEnumerable<TheVaqeel.Website.Models.LawyerServiceContent>
@{
    ViewBag.Title = "LawyerServicesList";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    var i = 1;
}

<section id="LawyerServiceList" class="content pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12 float-end">
                                <button class="btn float-right btn-primary" id="CreateLawyerServiceBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a New Service</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="LawyerService" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S.N.O</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var service in Model)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td><img src="~/Content/img/features/@service.Image" class="img-fluid" style="max-height:125px"  alt="Alternate Text" /></td>
                                        <td>@service.Title</td>
                                        <td>@service.Description</td>
                                        <td>
                                            <button class="btn btn-warning EditLawyerServiceBtn" data-id="@service.Id"  data-bs-toggle="modal" data-bs-target="#exampleModalEdit"><i class="fas fa-pen text-white"></i></button>
                                            <button class="btn btn-danger DeleteLawyerServiceBtn" data-id="@service.Id"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    i = i + 1;
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        let table = new DataTable("#LawyerService");

        $("#CreateLawyerServiceBtn").click(function () {
            $.ajax({
                url: "@Url.Action("CreateLawyerService","Admin")",
                method: "get"
            }).done(function (response) {
                $("#CreateLawyerServiceArea").html(response);
            });
        });

        $(".EditLawyerServiceBtn").click(function () {
            $.ajax({
                url: "@Url.Action("EditLawyerService","Admin")",
                method: "Get",
                data: {
                    id: $(this).attr("data-id")
                }
            }).done(function (response) {
                $("#EditSliderArea").html(response);
            });
        });

        $(".DeleteLawyerServiceBtn").click(function () {
            swal("","Are you sure you want to delete this service?","warning", {
                dangerMode: true,
                buttons: true,
            });
            Id = $(this).attr("data-id");
            $(".swal-button--danger").click(function () {
                $.ajax({
                    url: "@Url.Action("DeleteLawyerService","Admin")",
                    method: "Post",
                    data: {
                        id: Id
                    }
                }).done(function (response) {
                    $("#LawyerServiceList").html(response);
                    swal("Good Job!", "Data Deleted Successfully", "success");
                });
            });

        });
    });

</script>
<div class="modal fade" id="exampleModal" tabindex="-4" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Add a New Service</h4>
            </div>
            <div class="modal-body ">
                <div id="CreateLawyerServiceArea">

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" id="SaveLawyerServiceBtn" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title text-white">Edit FAQs</h4>
            </div>
            <div class="modal-body">
                <div id="EditSliderArea"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning text-white" id="UpdateSliderBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>